.aa{
	
}
.bb{
	font-weight: bold;
}

.description{
	border: 1px solid #333;
	margin:10px;
	width:100%;
	
	font-family: Verdana;
	font-size: 10pt;
	color:black;
}

.details{
	
}

.sold{
	color: red;
}
.container{
	margin: 20px;
}
