<!DOCTYPE html>
<html>
	<head lang="ru">
		<title >Astromart info</title>

		{% load staticfiles %}
		{% block import %}

		{% endblock import %}

		{% block script%}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

		<script type="text/javascript" src="{% static 'parse/js/jquery.timers-1.2.js' %}"></script>
		<script type="text/javascript" src="{% static 'parse/js/jquery.easing.1.3.js' %}"></script>

		<script type="text/javascript" src="{% static 'parse/js/jquery.galleryview-3.0-dev.js' %}"></script>
		<link type="text/css" rel="stylesheet" href="{% static 'parse/css/jquery.galleryview-3.0-dev.css' %}" />

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="{% static 'parse/css/style.css' %}">
		<script type="text/javascript" src="{% static 'parse/js/Application.js' %}"></script>
		{% endblock script%}

		{% block user_script %}
		{% endblock %}
	</head>
	<body>
		<div class="container" >
			<div class="hero-unit">

				{% block content %}
				{% endblock content %}

			</div>
		</div>

	</body>
</html>