{% extends "parse/base.html" %}

{% block user_script %}

{% endblock %}

{% block content %}
<hr>
<div class="row" style="margin-top:15px;">
	<div class="col-md-6">
		<form class="form-search">
			<div class="input-group">
				<input type="text" class="form-control" id="searchText">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-search" id="doSearch">
						Найти
					</button> </span>
			</div>
		</form>
	</div>
</div>
<hr>
<div class="row" style="margin-top:15px;">
	{%if stuff_id %}
	<h3>{{ title }} <span class="sold">{{sold}}</span></h3>
	{% if images %}
	<div class="col-lg-9">
		{% for img in images%}
		<ul id = "myGallery">
			<li>
				<img src="http://www.astromart.com/{{img}}"/>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	<div class="col-lg-3">
		{% autoescape off %}
		{{details}}
		{% endautoescape %}
	</div>

	{% if not_found %}
		<div class="alert alert-warning">
			Не верная ссылка на объявление.
		</div>
		{% else %}
		<div class="col-xs-12 col-md-12 col-lg-12 description">
		
		{% autoescape off %}{{desc}}{% endautoescape %}
		
	</div>
		{% endif %}	
	{%endif%}
</div>
{% endblock content %}